
h1 
    {font-weight: 100;
    text-align: center;
    font-size: 52px;
    color: #7B80A6;}

body
    {margin: 20px;
    background-color: #f1e0ca;
    font-family: "Times New Roman", serif;
    text-align: center;
    font-size: 20px;
    color: #7BA69E}

.list 
    {font-size: 34px;
    text-align: left;}

/* below declarations for subpages */
img
    {
    height: auto;
    width: 500px;}

    #potato {
        height: auto;
        width: 300px;
    }
h3 
    {
    font-size: 26px;
    }

p {
    font-size: 14px;
    }

